.broad-item-style {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px solid black;
    border-right: 0px solid black;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.broad-item-has-num-style {
    background-color: rgb(238, 238, 238);
}
.broad-last-row-item-style {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px solid black;
    border-right: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.broad-last-item-style {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.broad-last-col-item-style {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.broad-row-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}
.broad-container-style {
    margin-top: 50px;
}
.broad-title {
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.broad-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;;
}
.broad-button {
    margin-right: 15px;
}
